<footer>
    {{!-- use parameters passed from argumens to this template {{variable_name}} --}}
    <p>Copyright {{getCurrentYear}}</p>
    {{!-- getCurrentYear is a helper we registered in server.js --}}
</footer>